:root {
    --background-color: white;
    --color: black;
    --color-reverse: white;
    --btn-background: orange;
    --btn-color: orange;
}
a {
    text-decoration: none;
}
.header {
    background-image: url(media/pageheader-1920w.jpg);
    color: var(--color-reverse);
    padding: 3em;
}
.header__navbar {
    background-color: var(--btn-background);
    margin: 2em;
    padding: 0.5em;
}
.header__navbar__nav {
    list-style-type: none;
}
.header__navbar__nav__btn {
    color: var(--color-reverse);
    margin: 1em;
    padding: 3em;
}
.header__text {
    object-position: center;
}
.header_text h1 {
    object-position: center;
    padding: 2em;
}
.btn{
    object-position: center;
    color: var(--color-reverse);
    background-color: var(--btn-background);
    margin: 2em;
    padding: 0.5em;
}
.main__header {
    margin: 3em;
}
.main__main {
    gap: 1em;
    margin: 3em;
}
.main__foot p {
    color: var(--color-reverse);
    object-position: center;
}
.foot__main__reference {
    object-position: center;
}
.foot__main__pictures {
    margin: 3em;
}
.foot__footer {
    background-color: var(--btn-background);
    color: var(--color-reverse);
    object-position: center;
}
.btn--reverse {
    background-color: var(--background-color);
    color: var(--btn-color);
}
main {
    margin: 3em;
}
.main__foot {
    background-image: url(media/background-CTAblock-4460w.jpg);
    display: block;
    margin: 0em;
}
.picture {
    max-width: 100%;
    height: auto;
}